.wrap__button {
    color: white;
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.primary {
    background-color: #666666;
}
.edit {
    background-color: rgb(10, 145, 255);
}
.delete {
    background-color: rgba(255, 62, 62, 0.949);
}